
<style type="text/css">
    .jumbotron {
        padding-top: 8px;
        padding-bottom: 8px;
    }
</style>
<!--
<script src="~/Scripts/three.min.js"></script>
-->
<script src="~/Scripts/three.js"></script>
<script src="~/Scripts/TrackballControls.js"></script>

<script src="~/Scripts/game/sprite3d.js"></script>
<script src="~/Scripts/game/entity.js"></script>
<script src="~/Scripts/game/controllers.js"></script>

<script src="~/Scripts/game/utils.js"></script>
<script src="~/Scripts/game/geom.js"></script>
<script src="~/Scripts/game/assets.js"></script>
<script src="~/Scripts/game/sprites.js"></script>
<script src="~/Scripts/game/sceneQuery.js"></script>
<script src="~/Scripts/game/entities.js"></script>
<script src="~/Scripts/game/entityControllers.js"></script>
<script src="~/Scripts/game/animation.js"></script>
<script src="~/Scripts/game/spriteAnimation.js"></script>
<script src="~/Scripts/game/traits.js"></script>
<script src="~/Scripts/game/entityTraits.js"></script>
<script src="~/Scripts/game/entityTypes.js"></script>
<script src="~/Scripts/game/keyStates.js"></script>
<script src="~/Scripts/game/bootstrap.js"></script>
<script src="~/Scripts/game/core.js"></script>
<script src="~/Scripts/game/gameTraits.js"></script>
<script src="~/Scripts/game/terrainDecal.js"></script>
<script src="~/Scripts/game/terrainBufferGeometry.js"></script>
<!--
<script src="~/Scripts/game/keys.js"></script>
<script src="~/Scripts/game/terrainLoader2.js"></script>
-->
<script src="~/Scripts/game/terrainGeometry.js"></script>

<script src="~/Scripts/game/terrainDataLoader.js"></script>
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var chat = $.connection.gameHub;
        chat.client.worldUpdate = function (updates) {
            console.log("holy shit i got an update: " + updates);
        };
        chat.client.broadcastMessage = function (name, message) {
            // Html encode display name and message.
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();
            // Add the message to the page.
            $('#discussion').append('<li><strong>' + encodedName
                + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
        };
        //$('#message').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                // Call the Send method on the hub.
                chat.server.send($('#displayname').val(), $('#message').val());
                // Clear text box and reset focus for next comment.
                $('#message').val('').focus();
            });
        });


        var container = document.getElementById("mainCanvasContainer");
        var game = Bootstrap.setup(container);

        var clock = new THREE.Clock();
        var renderer = new THREE.WebGLRenderer();
        renderer.setClearColor(0xEEEEEE, 0xff);
        renderer.setSize(container.offsetWidth, container.offsetHeight);
        container.appendChild(renderer.domElement);

        function renderScene() {
            requestAnimationFrame(renderScene);
            game.update();
            game.render(renderer);
        }

        renderScene();

    });
</script>
<div class="jumbotron">
    <h2>Game Proof Of Concept</h2>
    <!--
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    -->
</div>
<!--
<img src="~/Content/assets/images/test-s-walk.png" />
<div id="testCanvasContainer" style="width:100%;height:128px">
</div>
    -->
<div id="mainCanvasContainer" style="width:100%;height:500px">
    <!--
    <canvas id="mainCanvas" height="500" style="width:100%;height:500px;border:1px solid;border-color:black"></canvas>
        -->
</div>
<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>